<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Предложенные объявления</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style/styleHome.css" th:href="@{/style/styleHome.css}" rel="stylesheet" />
    <link href="../static/style/styleHeader.css" th:href="@{/style/styleHeader.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="divMain">
    <div th:each="el : ${announcements}">
        <div class="divAnnouncements">
            <div>
                <h3 th:text="${el.title}"/>
                <h4 th:text="${el.price} + ' руб'"/>
                <p th:text="${el.address}"/>
                <p th:text="${el.getDat()}"/>
                <a th:href="'/' + ${el.id}" style="border: 0;
                                                border-style: solid;
                                                text-decoration: none;
                                                color: white;
                                                font-size: 17px;
                                                padding: 5px 10px;
                                                border-radius: 5px;
                                                background-color: #133d60;">Подробнее</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>