<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Удаление объявления</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style/styleHeader.css" th:href="@{/style/styleHeader.css}" rel="stylesheet" />
    <link href="../static/style/styleLogin.css" th:href="@{/style/styleLogin.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div th:insert="blocks/delete :: delete" class="divMain"></div>
<script type="text/javascript" th:src="@{/js/js.js}" src="../static/js/js.js"></script>
</body>
</html>