<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Объявление</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style/styleHeader.css" th:href="@{/style/styleHeader.css}" rel="stylesheet" />
    <link href="../static/style/styleProfile.css" th:href="@{/style/styleProfile.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="divMain">
    <p th:text="${text}"/><br><br>
    <a th:href="${href}" style="border: 0;
    border-style: solid;
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #133d60;">Назад</a>
</div>
</body>
</html>